#body {
    background-image: url(https://wallpapercave.com/wp/wp8635969.jpg);
}
#header {
    text-align: center;
    display: block;
    margin: 0px auto;
}

.container-fluid {
    margin: 0 auto;
}
#carouselExampleFade {
    padding: auto;
}
#h1 {
    text-align: center;
    color: burlywood;
}
#p {
    text-align: center;
    color: white;
}
#img {
    display: block;
    margin: 0px auto;
    width: 700px;
}
#card {
    display: block;
    margin: 0px auto;
}
#card-title {
    color: burlywood;
}
#bodyerror {
    
    
}
#error {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}